/* WelcomeStyle.css */

#location {
    position: absolute;
    top: 130px;
    left: 60px;
}

.location-icon {
    position: absolute;
    top: 120px;
    left: 20px;
    padding: 10px;
}

.container {
    display: inline-block;
    margin: 20px;
}

.restaurant-box {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.restaurant-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.restaurant-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.rating {
    color: orange;
    margin-bottom: 10px;
}

.order-button {
    width: 100%;
    padding: 10px;
    background-color: #cd7e08;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-button:hover {
    background-color: #e07315;
}
